<div class="chatRoom">
  <div class="sideBar">
     <div class="header">
       <div class="createRoom">
          <span>新建</span>
          <i class="fas fa-plus fa-lg" ng-click="createNewRoom();"></i>
       </div>
       <div class="logout">
         <span>登出</span>
         <i class="fas fa-cog fa-lg" ng-click="logout();"></i>
       </div>
     </div> <!-- header: logout -->
     <div class="rooms">
       <ul>
         <li ng-repeat="room in ciCtrl.rooms" ng-click="joinRoom(room)">
           <!-- {{ room }} -->
           <div ng-class="{roomStyle: true, selected: ciCtrl.currentRoom === room}">
             {{ room }}
           </div>
         </li>
       </ul>
     </div> <!-- rooms -->
  </div> <!-- userList: sideBar -->
  <div class="chat" ng-show="ciCtrl.currentRoom">
    <smart-roomheader></smart-roomheader>
    <smart-chatting msg-queue="ciCtrl.msgQueue" smart-scroll="ciCtrl.msgQueue.length"></smart-chatting>
    <div class="typing" ng-show="ciCtrl.typingMessage.length">{{ ciCtrl.typingMessage }}</div>
    <div class="chat-input">
      <div ng-show="!ciCtrl.chatting" class="placeholder">输入信息, @用户...</div>
      <input class="input-box" type="text"
             ng-focus="ciCtrl.chatting = true"
             ng-blur="postChatting();"
             ng-model="newMessage"
             ng-keyup="sendMessage($event);">
      <div class="tools">
      </div>
    </div>   <!-- chat-input -->
  </div> <!-- chat content -->
  <div class="active-chat" ng-show="!ciCtrl.currentRoom">
    <p class="remind-message">create or join a room</p> 
  </div>
</div>