@import '../../../statics/style/mixin.scss';

$chat-border: 1px solid lightgray;
$header-height: 60px;
$chat-input-height: 60px;
$chat-input-lineheight: 40px;

.chatRoom {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 400px;
  height: 100vh; 
  overflow-y: auto;
  
  & > .sideBar {
    flex-grow: 1;
    max-width: 320px;
    border-right: $chat-border;
    display: flex;
    flex-direction: column;

    & > .header {
      height: $header-height;
      flex-shrink: 0;
      border-bottom: $chat-border;
      // display: flex;
      @include flex(row, space-between);
      align-items: center;
      
      // justify-content: space-between;
      color: lighten(#0084ff, 20%);
      padding: 0 1em;

      & > .logout, & > .createRoom {
        & > .fas.fa-lg {
          color: lighten(#0084ff, 20%);
          cursor: pointer;
        }
      }
    }// .header

    & > .rooms {
      & .roomStyle {
        @include flex(row, center);
        align-items: center;
        background: rgb(224, 221, 221);
        color: darken(rgb(224, 221, 221), 50%);
        border-bottom: 1px solid darken(rgb(224, 221, 221), 10%);
        height: 50px;
        &:hover {
          cursor: pointer;
          color: darken(rgb(224, 221, 221), 70%);
          background: darken(rgb(224, 221, 221), 10%);
        }
        &.selected {
          background: white;
        }
      }
    }
  } // .sideBar
  
  & > .active-chat {
    flex-grow: 3;
    @include flex(flex, center);
    align-items: center;
    & > .remind-message {
      font-size: 1.2em;
      color: rgb(46, 133, 75);
    }
  }

  & > .chat {
    flex-grow: 3;
    height: 100vh;
    @include flex(column, center);

    & > .typing {
      // position: absolute;
      // left: 0;
      // bottom: 0;
      width: 100%;
      padding: 3px 10px;
      text-align: left;
      font-size: 13px;
      color: rgb(139, 137, 137);
    }

    & > smart-roomheader {
      border-bottom: $chat-border;
      width: 100%;
      height: $header-height; 
    }

    & > smart-chatting {
      overflow-y: auto;
      flex-grow: 1;
      width: 100%;
      // padding: 1em;
    }

    & > .chat-input {
      @include flex(row, center);
      flex-shrink: 0;
      flex-wrap: nowrap;
      position: relative;
      width: 100%;
      border-top: $chat-border;
      height: $chat-input-height;
      flex-shrink: 0;
      padding: .2em;

      & .placeholder {
        pointer-events: none;
        font-size: 12px;
        position: absolute;
        line-height: $chat-input-lineheight;
        top: ($chat-input-height - $chat-input-lineheight)/2;
        left: 2em;
        color: rgb(160, 153, 153);
      }

      & > .input-box {
        flex-grow: 1;
        @include smart-dived-input(0 2em);
      }

      & > .tools {
        height: 100%;
        flex-grow: 0;
      }
    }
  } // .chat
}