@import '../../../statics/style/mixin.scss';

.chatRoom {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 400px;
  height: 100vh; 
  overflow-y: auto;
  
  & > .sideBar {
    flex-grow: 1;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;

    & > .header {
      height: 4vw;
      border-bottom: 1px solid lightgray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: lighten(#0084ff, 20%);
      padding: 0 1em;

      & > .logout, & > .createRoom {
        & > .fas.fa-lg {
          color: lighten(#0084ff, 20%);
          cursor: pointer;
        }
      }
    }// .header

    & > .rooms {
      & .roomStyle {
        @include flex(row, center);
        align-items: center;
        background: rgb(224, 221, 221);
        color: darken(rgb(224, 221, 221), 50%);
        border-bottom: 1px solid darken(rgb(224, 221, 221), 10%);
        height: 50px;
        &:hover {
          cursor: pointer;
          color: darken(rgb(224, 221, 221), 70%);
          background: darken(rgb(224, 221, 221), 10%);
        }
        &.selected {
          background: white;
        }
      }
    }
  } // .sideBar

  & > .chat {
    flex-grow: 3;
    height: 100vh;
    @include flex(column, center);

    & > smart-chatting {
      overflow-y: auto;
      flex-grow: 1;
      width: 100%;
      // padding: 1em;
    }

    & > .chat-input {
      @include flex(row, center);
      flex-shrink: 0;
      flex-wrap: nowrap;
      width: 100%;
      border-top: 1px solid lightgray;
      height: 10vh;
      flex-shrink: 0;
      padding: .2em;

      & > .input-box {
        flex-grow: 1;
        @include smart-dived-input(.2em 2em);
      }

      & > .tools {
        height: 100%;
        flex-grow: 0;
      }
    }
  } // .chat
}