@mixin smart-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

@mixin rond-shape {
  border-radius: 50%;
}

@mixin center-layout($width) {
  margin: auto;
  width: $width;
}

@mixin list-style($align) {
  text-align: $align;
  list-style: none;
}

@mixin smart-btn($bgcolor, $color) {
  border-radius: 3px;
  padding: 8px 12px;
  background-color: $bgcolor;
  color: $color;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($bgcolor, 20%);
    color: darken($color, 50%);
  }
}

@mixin flex($flex-direction, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: center;
}