<div class="todo">
  <div class="todo-container">
    <div ng-if="todo.isLoadingData">
      loading data.....
    </div>
    <div class="task-container">
      <div class="task-wraper" ng-repeat="task in todo.todoDetail">
          <!-- description: {{ obj.description }}
          <br>
          is done status: {{ obj.isDone }} -->
          <input type="checkbox" 
                  ng-model="task.isDone"
                  ng-change="todo.testChange(task.isDone)"
          >
          <span smart-editable="{{ task.description }}"></span>
        </div>
    </div>
    <div class="new-todo-container">
        <input type="text" placeholder="New todo" 
               ng-model="todo.newTodo"
               ng-keyup="todo.saveNew($event)">
    </div>
  </div>
</div>